NODE_ENV=production
NEXT_PUBLIC_API_URL=https://YOUR_CLUSTER_IP.nip.io
NEXT_PUBLIC_SOCKET_URL=https://YOUR_CLUSTER_IP.nip.io
API_URL=http://popquiz-backend
SOCKET_URL=http://popquiz-backend
INTERNAL_API_URL=http://popquiz-backend